.stripe_mainContainer{
    width: 20%;
    padding: 2rem 2.25rem;
   border-top: 1px solid rgba(128, 128, 128, 0.666);
   border-bottom: 1px solid rgba(128, 128, 128, 0.666);
   border-right: 1px solid rgba(128, 128, 128, 0.666);
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 50px;
}
.Stripe_text{
    font-weight: 600;
}